

*   Entrada e saida;
*   Variaveis e tipos de dados;
*   Operadores lógicos, aritméticos, relacionais e de atribuição;
*   Estruturas de repetição e condição;
*   Funções;
*   Listas, dicionários e tuplas;

In [ ]:
# Comentário em python

In [ ]:
#saida de dados

print('Olá mundo')
print('Aula de python')

print('Nome: Salustiano', end=' ')
print('Idade: 33')

#Concatenando strings
print('Curso: Sistemas de Informação' + 'Disciplina: Big Data em Python')
print('Curso: Sistemas de Informação', 'Disciplina: Big Data em Python', sep='&')

Olá mundo
Aula de python
Nome: Salustiano Idade: 33
Curso: Sistemas de InformaçãoDisciplina: Big Data em Python
Curso: Sistemas de Informação&Disciplina: Big Data em Python

In [ ]:
#entrada de dados
#O tipo de dado padrão do input é STRING
float(input('Informe po seu salario: '))

Informe po seu salario: 23232323

23232323

In [ ]:
#Variaveis em python
#Tipagem dinamica (int, float, str, bool)

altura = 1.97 #float [casa decimal com ponto "."]
numero = 23 #int
esta_cursando = True #bool [True | False]
disciplina = 'Programação em Python' #string[str]

lista = ['juca', 'maria', 'ana'] # List[]
print(lista[1])
tupla = ('flamengo', 'fluminense', 'vasco', 'botafogo') #tuple()
print(tupla[3])
dicionario = {'modelo' : 'Uno', 'fabricante': 'Fiat'} #dictionary{}
print(dicionario['fabricante'])

In [ ]:
#verificando tipos
print(type(altura))
print(type(numero))
print(type(esta_cursando))
print(type(disciplina))
print(type(lista))
print(type(tupla))
print(type(dicionario))

In [ ]:
#Operadores
#atribuicao, logicos, aritmeticos, relacionais

#Atribuicao
  #Atribuindo o valor 400 a variavel preco
preco = 400
print("Preço:", preco)
preco += 50
print("Preço:", preco)

In [ ]:
#Aritmeticos

x = 5
y = 8

somar = x + y
subtrair = x - y
multiplicacao = x * y
divisao_inteira = x // y
divisao_real = x / y
resto = y % x
potenciacao = x ** y

print(somar)
print(subtrair)
print(multiplicacao)
print(divisao_inteira)
print(divisao_real)
print(resto)
print(potenciacao)

In [ ]:
#relacionais
# sempre que utilizamos operadores relacionais o resultado
# sera uma expressao logica (True ou False)

a = 15
b = 20

print(a > b) #maior
print(a < b) #menor
print(a >= b)#maior ou igual
print(a <= b)#menor ou igual
print(a != b)#diferente
print(a == b)#igualdade

False
True
False
True
True
False

In [ ]:
#logicos
#and (&&), or (||), not(!)

print(2+5 > 5 and 3+1 == 4-1)
print(2+5 > 5 or 3+1 == 4-1)
print(not False)

In [ ]:
#strings
texto = 'topicos de big data em python'
print(texto)

#UPPER (maiusculas)
print(texto.upper())

#lower (minisculas)
print(texto.lower())

#capitalize
print(texto.capitalize())

#split [divide uma string baseada no parametro]
print(texto.split(' '))

#find [retorna a posicao inicial da string encontrada]
print(texto.find('big'))

#replace [substitui a string por outra]
print(texto.replace('python', 'R'))

In [ ]:
frase = 'O rato roeu a roupa do rei de roma'

print(frase[2:6])
print(frase[-4:])

[print(x.capitalize() + ' ', end='') for x in frase.split(' ')]

In [ ]:
#desvios

#IF ELIF ELSE
idade = int(input('Informe a sua idade: '))

if idade > 15 and idade < 18 or idade > 70:
  print('Voto opcional')
elif idade >= 18 and idade <= 70:
  print('Voto obrigatorio')
else:
  print('Não pode votar')

In [ ]:
#FOR [0..9]
for x in range(0, 10):
  print(x)

In [ ]:
#FOR [0..9]
for x in range(0, 10, 2):
  print(x)

In [ ]:
#FOR [10..1]
for x in range(10, 0, -1):
  print(x)

In [ ]:
#FOR [10..1]
for x in reversed (range(0, 10)):
  print(x)

In [ ]:
#while
numero = 0

while numero < 10:
  print(numero)
  numero +=1

In [ ]:
valor = 1
while True:
  print(valor, end=' ')
  if valor % 100 == 0:
    break
  valor +=1

In [ ]:
#funções [sub-rotinas]
  # sub-rotina sem retorno ==> procedimentos
  # sub-rotina com retorno ==> função
#CTRL + C CTRV + V [problemas]

nome = input('Digite o seu nome: ')
for x in range(5):
  print(nome)

In [ ]:
def captura_nome():
  nome = input('Digite o seu nome: ')
  for x in range(5):
    print(nome)

In [ ]:
#Chamando uma função [call]
print(captura_nome())

In [ ]:
def soma_numero_1(x, y):
  return x + y

In [ ]:
#valor padrão (default)
def soma_numero_2(x = 10, y = 25):
  return x + y

In [ ]:
def imprime_info(curso, disciplina):
  print('Curso:', curso)
  print('Disciplina:', disciplina)

In [ ]:
print(soma_numero_1(4, 6))
print(soma_numero_2())

In [ ]:
imprime_info('ADS', 'Python')

Curso: ADS
Disciplina:  Python

In [ ]:
imprime_info(disciplina='Python', curso='ADS')

Curso: ADS
Disciplina:  Python

In [ ]:
#Criar uma função para sortear um numero
import random

def sorteia(val_min = 1, val_max = 6):
  return random.randint(val_min, val_max)

In [ ]:
print(sorteia())

3

In [ ]:
print(sorteia(1, 20))

17