#Importando a bilbioteca do pandas

#Criando um DataFrame

Crie um DataFrame chamado “dados” com três colunas: “Nome”, “Idade” e “Cidade”. Preencha com os dados a seguir:

**Nome: Carlos, Juca, Mauro, Ana, Eva;**

**Idade: 25, 30, 22, 35, 18;**

**Cidade: São Paulo, Rio de Janeiro, São Paulo, Belo Horizonte, Porto Alegre;**

#Acessando Dados
Exiba as primeiras 5 linhas do nosso DataFrame “dados”.

#Filtrando Dados

Crie um novo DataFrame chamado “maiores_de_idade” que contém apenas as pessoas com idade maior ou igual a 18.

#Ordenando Dados

Ordene o DataFrame “dados” por idade em ordem decrescente.

#Agregação de Dados
Calcule a média de idade das pessoas no DataFrame “dados”.

#Adicionando uma Nova Coluna

Adicione uma coluna chamada “Estado” e preenchendo com valores abaixo:

Estado: SP, RJ, SP, MG, RS

#Removendo Colunas

Remova a coluna “Cidade”.

#Consultas Condicionais

Selecione todas as pessoas no DataFrame “dados” que vivem no estado “SP”.

#Contagem de Valores

Contar quantas pessoas no DataFrame “dados” têm a mesma idade.

#Substituição de Valores

Substituir todas as ocorrências do estado RJ por Rio de Janeiro no DataFrame “dados”.

#Resumo Estatístico
Exibir o resumo estatístico do DataFrame “dados” que inclui contagem, média, desvio padrão, mínimo e máximo das idades.

#Filtros Avançados I

Selecionar as pessoas com idade entre 25 e 35 anos e que vivem no “Rio de Janeiro”.

#Filtros Avançados II

Selecionar as pessoas que não são dos estados do RJ e SP.

#Importando a biblioteca pyplot

#Plotagem de Dados I

Crie um gráfico de barras que mostra a contagem de pessoas em cada estado no DataFrame “dados”.

#Plotagem de Dados II

Crie um gráfico de dispersão que exibirá a idade de pessoas por estado no DataFrame "dados".