#Importando a bilbioteca do pandas

In [4]:
import pandas as pd

#Criando um DataFrame

Crie um DataFrame chamado “dados” com três colunas: “Nome”, “Idade” e “Cidade”. Preencha com os dados a seguir:

**Nome: Carlos, Juca, Mauro, Ana, Eva;**

**Idade: 25, 30, 22, 35, 18;**

**Cidade: São Paulo, Rio de Janeiro, São Paulo, Belo Horizonte, Porto Alegre;**

In [5]:
data = {'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Idade': [25, 30, 22, 35, 18],
        'Cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Belo Horizonte', 'Porto Alegre']}

dados = pd.DataFrame(data)

#Acessando Dados
Exiba as primeiras 5 linhas do nosso DataFrame “dados”.

In [ ]:
dados.head()

#Filtrando Dados

Crie um novo DataFrame chamado “maiores_de_idade” que contém apenas as pessoas com idade maior ou igual a 18.

In [ ]:
#Notação colchetes
maiores_de_idade = dados[dados['Idade'] >= 18]
display(maiores_de_idade)

In [ ]:
#QUERY
maiores_de_idade = dados.query('Idade >= 18')
display(maiores_de_idade)

#Ordenando Dados

Ordene o DataFrame “dados” por idade em ordem decrescente.

In [ ]:
dados_ordenados = dados.sort_values(by='Idade', ascending=False)
display(dados_ordenados)

#Agregação de Dados
Calcule a média de idade das pessoas no DataFrame “dados”.

In [ ]:
media_idade = dados['Idade'].mean()
display(media_idade)

#Adicionando uma Nova Coluna

Adicione uma coluna chamada “Estado” e preenchendo com valores abaixo:

Estado: SP, RJ, SP, MG, RS

In [ ]:
dados['Estado'] = ['SP', 'RJ', 'SP', 'MG', 'RS']
display(dados)

#Removendo Colunas

Remova a coluna “Cidade”.

In [13]:
dados = dados.drop(columns='Cidade')

#Consultas Condicionais

Selecione todas as pessoas no DataFrame “dados” que vivem no estado “SP”.

In [ ]:
#Notação colchetes
pessoas_SP = dados[dados['Estado'] == 'SP']
display(pessoas_SP)

In [ ]:
#QUERY
pessoas_SP = dados.query('Estado == "SP"')
display(pessoas_SP)

#Contagem de Valores

Contar quantas pessoas no DataFrame “dados” têm a mesma idade.

In [ ]:
contagem_idades = dados['Idade'].value_counts()
display(contagem_idades)

#Substituição de Valores

Substituir todas as ocorrências do estado RJ por Rio de Janeiro no DataFrame “dados”.

In [ ]:
dados['Estado'].replace('RJ', 'Rio de Janeiro', inplace=True)
display(dados)

#Resumo Estatístico
Exibir o resumo estatístico do DataFrame “dados” que inclui contagem, média, desvio padrão, mínimo e máximo das idades.

In [ ]:
dados.describe()

#Filtros Avançados I

Selecionar as pessoas com idade entre 25 e 35 anos e que vivem no “Rio de Janeiro”.

In [ ]:
#Notação colchetes
filtro_avancado_1 = dados[(dados['Idade'] >= 25) & (dados['Idade'] <= 35) & (dados['Estado'] == 'Rio de Janeiro')]
display(filtro_avancado_1)

In [ ]:
#QUERY
filtro_avancado_1 = dados.query('Idade >= 25 and Idade <= 35 and Estado == "Rio de Janeiro"')
display(filtro_avancado_1)

#Filtros Avançados II

Selecionar as pessoas que não são dos estados do RJ e SP.

In [ ]:
#Notação colchetes
filtro_avancado_2 = dados[(dados['Estado'] != 'Rio de Janeiro') & (dados['Estado'] != 'SP')]
display(filtro_avancado_2)

In [ ]:
#QUERY
filtro_avancado_2 = dados.query('Estado != "Rio de Janeiro" and Estado != "SP"')
display(filtro_avancado_2)

#Importando a biblioteca pyplot

In [ ]:
import matplotlib.pyplot as plt

#Plotagem de Dados I

Crie um gráfico de barras que mostra a contagem de pessoas em cada estado no DataFrame “dados”.

In [ ]:
contagem_por_estado = dados['Estado'].value_counts()
contagem_por_estado.plot(kind='bar')
plt.xlabel('Estado')
plt.ylabel('Contagem')
plt.show()

#Plotagem de Dados II

Crie um gráfico de dispersão que exibirá a idade de pessoas por estado no DataFrame "dados".

In [ ]:
plt.scatter(data['Cidade'], data['Idade'])
plt.show()